

<div class="bg-[#00205B]">
  <div class="max-w-[1640px] mx-auto relative h-[200px] flex items-center justify-between overflow-hidden min-[1640px]:overflow-visible">
    <div class="flex flex-col gap-[12px]">
      <app-breadcrumb color="white"></app-breadcrumb>
      <h3 class="text-[50px] font-[700] text-[white] font-['Lato']! leading-[120%]" *ngIf="breadCrumbTitle | async as title">{{title[title.length-1].label}}</h3>
    </div>
    <div class="absolute right-[-140px] top-0 bottom-0 h-full">
      <span class="icon-45-line text-[200px] absolute"></span>
      <img src="./assets/imgs/breadcrumbs-img.png" alt="" class="h-full">
    </div>
  </div>
</div>
