<div class="mx-auto">
  <div class="bg-blue-2">
    <app-up-header></app-up-header>
  </div>

  <div class="max-w-[1640px] mx-auto py-5 px-5 2xl:px-0 flex justify-between items-center">
    <div class="flex items-center gap-4">
      <span class="icon-renessans text-[80px]"><span class="path1"></span><span class="path2"></span><span
          class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span
          class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
      <div class="">
        <h2 class="text-[32px] font-extrabold font-['Lato']! uppercase leading-[100%]">RENESSANS</h2>
        <p class="text-[13px] font-medium font-['Lato']! uppercase">Respublika o‘quvchilar markazi</p>
      </div>
    </div>
    <div class="">
      <ul class="flex gap-6">
        <li class="xl:text-xl font-medium "><a routerLink="/home">{{ 'nav-bar.menu.main' | transloco }}</a></li>
        <li class="xl:text-xl font-medium "><a routerLink="/bam">{{ 'nav-bar.menu.bam' | transloco }}</a></li>
        <li class="xl:text-xl font-medium "><a routerLink="/clubs">{{ 'nav-bar.menu.clubs' | transloco }}</a></li>
        <li class="xl:text-xl font-medium "><a routerLink="/lessonSchedule">{{ 'nav-bar.menu.schedule' | transloco }}</a></li>
        <li class="xl:text-xl font-medium "><a routerLink="/contacts">{{ 'nav-bar.menu.contact' | transloco }}</a></li>
      </ul>
    </div>
    <div class="flex gap-3">
      <p-select [options]="languages" (onChange)="onLanguageChange($event)" [(ngModel)]="selectedLanguage"
        optionLabel="name" [filter]="false" filterBy="name" [showClear]="false" placeholder="" class="rounded-[20px]">
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <img src="https://flagsapi.com/{{selectedOption.code | uppercase}}/flat/64.png"
              style="width: 24px; height: 20px;" />
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country #item>
          <div class="flex items-center gap-2">
            <img src="https://flagsapi.com/{{country.code | uppercase}}/flat/64.png"
              style="width: 24px; height: 20px;" />
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-select>

      <a routerLink="/auth" class="py-3 px-4 bg-blue-2 rounded-xl flex items-center gap-3 text-[white]">
        <span class="icon-user opacity-40 text-xl"></span>
        <p class="text-xl font-semibold leading-[120%]">{{ 'nav-bar.enter' | transloco }}</p>
        <span class="icon-arrow-right "></span>
      </a>
    </div>
  </div>
</div>
