

<div class="pt-[50px] flex justify-center">
  <div class="max-w-[850px] flex flex-col items-center gap-[8px] relative">
    <div class="px-[12px] py-[10px] bg-[#F6F7FB] rounded-[12px] flex items-center gap-[6px]">
      <span class="icon-star text-[24px]"><span class="path1"></span><span class="path2"></span></span>
      <p class="text-[#00205B] font-[500] md:text-[18px] uppercase">RENESSANS RESPUBLIKA O’QUVCHILAR MARKAZI</p>
    </div>
    <h3 class="text-[#020A0C] font-[700] text-[37px] md:text-[50px] text-center font-['Lato']! mb-[8px]">Istalgan joyda va vaqtda o'rganing Kelajagingizni o‘zingiz quring</h3>
    <p class="text-[#757D8E] font-[500] md:text-[20px] text-center mb-[12px]">"Bilim yo‘l ochadi, biz esa eshikmiz. Orzular sari yurishda ilk qadam biz bilan boshlansin. O‘rganishga tayyormisiz? Kelajagingiz shu yerdan boshlanadi!"</p>

    <div class="w-[500px] py-[15px] px-[16px] border-[1px] border-[#DEE1EB] rounded-[12px] flex items-center gap-[12px] bg-[#fff]">
      <span class="icon-search text-[20px] text-[#1C79C0]"></span>
      <input type="text" class="w-full placeholder:text-[#757D8E] text-[20px] font-[500] outline-none border-none " placeholder="Kurslarni izlash">
    </div>

    <img ngSrc="./assets/imgs/school-boy.png" alt="" width="859" height="357" priority>
    <div class="rounded-[100%] bg-[#1C79C00A] w-[900px] h-[900px] absolute z-[-100] bottom-[-70%] flex items-center justify-center">
      <div class="rounded-[100%] bg-[#1C79C00F] w-[800px] h-[800px] flex items-center justify-center">
        <div class="rounded-[100%] bg-[#1C79C014] w-[700px] h-[700px] flex items-center justify-center">
          <div class="rounded-[100%] bg-[#1C79C01A] w-[600px] h-[600px] flex items-center justify-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
