
<div class=" bg-[url('/assets/imgs/home-bg.png')] bg-no-repeat bg-center">
  <div class="max-w-[1640px] mx-auto ">
    <app-hero></app-hero>
  </div>
</div>

<div class="bg-black-8 px-5 pb-[120px]">
  <div class="max-w-[1640px] mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 mb-[120px] -translate-y-4">
      <div class="p-[24px] rounded-[20px] bg-white flex flex-col gap-5 shadow-[0_0_30px_#1C79C00D] h-full w-full">
        <span class="icon-buildings text-[70px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        <div class="">
          <p class="text-black-1 text-[32px] font-bold leading-[120%] mb-[8px]">{{bamsStatistic.number}}</p>
          <p class="text-black-3 text-xl font-medium">{{ 'main.statistic.bams' | transloco }}</p>
        </div>
      </div>
      <div class="p-[24px] rounded-[20px] bg-white flex flex-col gap-5 shadow-[0_0_30px_#1C79C00D] h-full w-full">
        <span class="icon-backpack text-[70px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        <div class="">
          <p class="text-black-1 text-[32px] font-bold leading-[120%] mb-[8px]">{{bamsPeopleStatistic.number}}</p>
          <p class="text-black-3 text-xl font-medium">{{ 'main.statistic.bams-people' | transloco }}</p>
        </div>
      </div>
      <div class="p-[24px] rounded-[20px] bg-white flex flex-col gap-5 shadow-[0_0_30px_#1C79C00D] h-full w-full">
        <span class="icon-academic-cap text-[70px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        <div class="">
          <p class="text-black-1 text-[32px] font-bold leading-[120%] mb-[8px]">{{bamsClubStatistic.number}}</p>
          <p class="text-black-3 text-xl font-medium">{{ 'main.statistic.bams-club' | transloco }}</p>
        </div>
      </div>
      <div class="p-[24px] rounded-[20px] bg-white flex flex-col gap-5 shadow-[0_0_30px_#1C79C00D] h-full w-full">
        <span class="icon-users-group text-[70px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        <div class="">
          <p class="text-black-1 text-[32px] font-bold leading-[120%] mb-[8px]">{{bamsEmployeesStatistic.number}}</p>
          <p class="text-black-3 text-xl font-medium">{{ 'main.statistic.bams-employees' | transloco }}</p>
        </div>
      </div>


    </div>
    <div>
      <div class="flex items-center justify-between">
        <h3 class="text-[40px] text-black-1 font-bold font-['Lato']! mb-5">{{ 'main.lesson.title' | transloco}}</h3>
        <a href="" class="py-3 px-4 bg-[#1C79C01A] rounded-xl flex items-center gap-3">
          <p class="text-blue-2">{{ 'main.lesson.all-lessons' | transloco }}</p>
          <span class="icon-arrow-right text-blue-2!"></span>
        </a>
      </div>
      <div class="grid grid-cols-5 gap-4">
        @for(lesson of lessons; track lesson.id; let i=$index){
          @if(5>i){
            <app-lessons [data]="lesson"></app-lessons>
          }
        }
      </div>
    </div>

  </div>
</div>

