

<div class="flex flex-col gap-4">
  <div class="flex flex-col items-start gap-1">
    <label for="" class="text-black-2 text-xl font-medium leading-[130%]">Login:</label>
    <div class="w-full px-3 py-[11px] bg-black-8 rounded-xl border border-black-7">
      <input type="text" name="" id="" placeholder="Kiriting" class="text-xl font-medium leading-[130%] placeholder:text-black-3">
      <span></span>
    </div>
  </div>
  <div class="flex flex-col items-start gap-1">
    <label for="" class="text-black-2 text-xl font-medium leading-[130%]">Parol:</label>
    <div class="w-full px-3 py-[11px] bg-black-8 rounded-xl border border-black-7">
      <input type="text" name="" id="" placeholder="Kiriting" class="text-xl font-medium leading-[130%] placeholder:text-black-3">
      <span></span>
    </div>
  </div>

  <button class="w-full py-3 px-4 bg-blue-2 rounded-xl">
    <p class="text-white text-xl font-semibold leading-[120%]">Tizimga kirish</p>
  </button>
</div>
