<div class="grid grid-cols-10 gap-4" >
  <div class="col-span-8 col-start-1">
    <div class="flex gap-3 pb-3">
      <div class="py-[11px] px-3 border-[1px] border-black-6 rounded-xl flex items-center gap-3 bg-white grow">
        <span class="icon-search text-[22px] text-blue-2"></span>
        <input type="text" (input)="onInput($event)" class="w-full placeholder:text-black-3 text-xl font-medium outline-none border-none " placeholder="{{ 'clubs.search-text' | transloco }}" >
      </div>
      <div class="flex items-center gap-[3px] p-[3px] rounded-xl bg-black-7">
        <button type="button" (click)="changeViewToggle(1)" class="py-[9px] px-3 flex items-center gap-2 h-full rounded-xl" [ngClass]="{'bg-white': viewToggle === 1}">
          <span class="icon-grid-1 text-[22px] text-black-3"  [ngClass]="{'text-blue-2!': viewToggle === 1}" ></span>
          <p class="text-black-3 text-xl font-semibold" [ngClass]="{'text-black-1!': viewToggle === 1}">2 {{ 'clubs.toggle-text' | transloco }}</p>
        </button>
        <button type="button" (click)="changeViewToggle(4)" class="py-[9px] px-3 flex items-center gap-2 h-full rounded-xl" [ngClass]="{'bg-white': viewToggle === 4}">
          <span class="icon-grid-4 text-[22px] text-black-3" [ngClass]="{'text-blue-2!': viewToggle === 4}"></span>
          <p class="text-black-3 text-xl font-semibold" [ngClass]="{'text-black-1!': viewToggle === 4}">4 {{ 'clubs.toggle-text' | transloco }}</p>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-3 pb-4" [ngClass]="{'grid-cols-1': viewToggle === 1, 'grid-cols-4': viewToggle === 4}">
      @for(club of currentData; track club.id){
        <app-club-block [club]="club" [isVertical]="viewToggle==4"></app-club-block>
      }
    </div>

    @if(rowsCount>1){
      <div class="flex justify-center">
        <p-paginator
        class="p-paginator-p"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="rowsCount"
        [showPageLinks]="true"
        [showFirstLastIcon]="false"
          />
      </div>
    }

  </div>

  <div class="col-span-2 col-start-9 ">
    <div class="relative rounded-2xl overflow-hidden w-full border border-black-7 mb-4">
      <img src="./assets/imgs/map.png" alt="Map" class="w-full" />
      <button class="absolute bottom-4 left-1/2 bg-blue-600 -translate-x-1/2 rounded-xl flex items-center gap-2 py-3 px-4">
        <span class="icon-map-point text-blue-3 text-2xl"></span>
        <p class="text-[#FFFFFF] text-xl font-semibold leading-[120%] text-nowrap">{{ 'clubs.view-on-map' | transloco }}</p>
      </button>
    </div>

    <div class="rounded-2xl bg-white p-4 border border-black-7 flex flex-col gap-4">
      <div>
        <p class="text-2xl font-bold font-['Lato']! leading-[120%]">{{ 'clubs.filter.filter' | transloco}}</p>
      </div>
      <hr class="text-black-7">

      <div class="flex flex-col gap-3">
        <p class="text-black-1 text-xl font-semibold leanding-[120%]">{{ 'clubs.filter.clubs' | transloco }}</p>

        <p-select [options]="clubsCategory" [(ngModel)]="setClubsCategory" [checkmark]="true" optionLabel="name" [showClear]="true" placeholder="{{ 'clubs.filter.type-of-club' | transloco }}" class="font-['Nunito']! text-xl font-medium leanding-[130%]" />

        <div class="flex flex-col gap-2.5">
          @for(category of clubsCategory; track category.id){
            <label class="flex items-center gap-2.5">
              <input type="checkbox" class="w-4 h-4" [value]="category.name" (change)="onCategoryChange(category, $event)" />
              <p class="text-black-2 text-lg font-medium leanding-[130%]">{{ category.name }}</p>
            </label>
          }
        </div>
      </div>

      <hr class="text-black-7">

      <div class="flex flex-col gap-3">
        <p class="text-black-1 text-xl font-semibold leanding-[120%]">{{ 'clubs.filter.location' | transloco}}</p>
        <p-select [options]="clubsCategory" [(ngModel)]="setClubsCategory" [checkmark]="true" optionLabel="name" [showClear]="true" placeholder="{{ 'clubs.filter.select-region' | transloco}}" class="font-['Nunito']! text-xl font-medium leanding-[130%]" />
        <div class="flex flex-col gap-2.5">
          @for(location of clubsLocation; track location.id){
            <label class="flex items-center gap-2.5">
              <input type="checkbox" class="w-4 h-4" [value]="location.region" (change)="onLocationChange($event)" [checked]="selectedLocation.includes(location.region)"/>
              <p class="text-black-2 text-lg font-medium leanding-[130%]">{{ location.region }}</p>
            </label>
          }
        </div>
      </div>

      <hr class="text-black-7">

      <div class="flex flex-col gap-3">
        <p class="text-black-1 text-xl font-semibold leanding-[120%]">{{ 'clubs.filter.shift-text' | transloco}}</p>
        <div class="flex flex-col gap-2.5">
          @for(shift of clubsShifts; track shift.id){
            <label class="flex items-center gap-2.5">
              <input type="checkbox" class="w-4 h-4" [value]="shift.name" (change)="onShiftChange(shift,$event)"/>
              <p class="text-black-2 text-lg font-medium leanding-[130%]">{{ shift.name }}</p>
            </label>
          }
        </div>
      </div>

      <hr class="text-black-7">

      <div class="flex flex-col gap-3">
        <p class="text-black-1 text-xl font-semibold leanding-[120%]">{{ 'clubs.filter.time-interval' | transloco}}</p>

        <div class="flex justify-between mb-[26px]">
          <p class="px-2 py-1 bg-white border border-black-7 rounded-lg text-black-2 text-lg font-medium leanding-[130%]">{{ getTimeString(timeRange[0]) }}</p>
          <p class="px-2 py-1 bg-white border border-black-7 rounded-lg text-black-2 text-lg font-medium leanding-[130%]">{{ getTimeString(timeRange[1]) }}</p>
        </div>

        <p-slider
          [(ngModel)]="timeRange"
          [min]="480"
          [max]="1140"
          [step]="15"
          [range]="true"
          styleClass="w-full custom-time-slider"
          (onChange)="onTimeRangeChange()"
        ></p-slider>
      </div>

    </div>
  </div>
</div>
