<div
  class="fixed bg-[#020A0C40] h-[100vh] w-[100vw] flex flex-col items-center justify-center gap-3 top-0
         opacity-0 scale-95 transition-all duration-500 ease-in-out z-50"
  [class.opacity-100]="isOpenMap"
  [class.scale-100]="isOpenMap"
  [class.pointer-events-none]="!isOpenMap"
>
  <button class="rounded-2xl bg-white px-4 p-3">
    <p class="text-xl font-semibold leading-[120%] cursor-pointer" (click)="closeMap1()">Xaritani yopish</p>
  </button>

  <div class="bg-white p-4 rounded-2xl w-[1640px] h-[800px]">
    <p>hello</p>
  </div>
</div>
