<div class="">
  <div class="flex justify-center mb-4">
    <img src="./assets/imgs/auth/oneId.png" alt="">
  </div>
  <div class="flex flex-col items-start gap-2">
    <p class="text-black-1 text-lg font-normal leading-[130%]">Tizim shaxsiy ma'lumotlaringizni qayta ishlashda foydalanadi, checkboxni bosish orqali ushbu shartlarga rozi bo'lasiz</p>
    <div class="flex items-center gap-2 mb-4">
      <input type="checkbox" id="roziman">
      <label for="roziman" class="text-black-2 text-lg font-normal leading-[130%]">Shartlarga roziman</label>
    </div>
  </div>

  <button class="w-full py-3 px-4 bg-blue-2 rounded-xl">
    <p class="text-white text-xl font-semibold leading-[120%]">One ID orqali kirish</p>
  </button>
</div>
