
@if(news){
  <div class="max-w-[1640px] mx-auto pt-20 pb-[120px]">
    <div class="max-w-[1088px] mx-auto pb-[120px]">
      <div class="mb-4">
        <app-breadcrumb></app-breadcrumb>
      </div>

      <h3 class="text-[40px] font-bold font-['Lato']! leading-[120%] mb-4">{{news.text}}</h3>

      <div class="flex gap-5 mb-4">
        <div class="flex items-center gap-1.5">
          <span class="icon-calendar before:text-blue-2! text-[22px]"></span>
          <p class="text-blue-2 text-xl font-semibold">{{news.date | date:"dd.MM.yyyy"}}</p>
          <!-- <p class="text-blue-2 text-xl font-semibold">12.23.2002</p> -->
        </div>
        <div class="flex items-center gap-1.5">
          <span class="icon-view before:text-blue-2!"></span>
          <p class="text-blue-2 text-xl font-semibold">{{news.views}}</p>
          <!-- <p class="text-blue-2 text-xl font-semibold">120</p> -->
        </div>
      </div>

      <div class="rounded-2xl h-[680px] w-full mb-5 bg-cover" [style.backgroundImage]="'url(' + news.imgUrl + ')'">
      </div>


      <div class="">
        <p class="text-xl font-medium leading-[130%] indent-[1em]">
          O‘quvchilarning bo‘sh vaqtlaridan samarali foydalanish ularning bilim samaradorliklarini oshishiga, dunyoqarashlari kengayishiga, kelajak uchun aniq maqsad qo‘yishlarida muhim omil hisoblanadi.
        </p>
        <p class="text-xl font-medium leading-[130%] indent-[1em]">Bugungi kunda Jizzax  viloyati, G’allaorol tuman “Barkamol avlod” bolalar maktabida jami 1870 nafar to‘garak a’zolari mavjud.</p>

        <p class="text-xl font-medium leading-[130%]">Xususan:</p>
        <ul class="ml-[26px]">
          <li class="text-xl font-medium leading-[130%]">“Madaniyat va san’at” yo‘nalishida 7 to‘garak, 220 nafar to‘garak a’zolari,</li>
          <li class="text-xl font-medium leading-[130%]">“Texnika, konstruktorlik va modellashtirish” yo‘nalishida 6 to‘garak 160  nafar to‘garak a’zolari,</li>
          <li class="text-xl font-medium leading-[130%]">“Jismoniy tarbiya va sport” yo‘nalishida 10 to‘garak, 380  nafar to‘garak a’zolari</li>
          <li class="text-xl font-medium leading-[130%]">“Hunarmandchilik va qo‘l mehnati” yo‘nalishida 17 to‘garak, 530 nafar to‘garak a’zolari</li>
          <li class="text-xl font-medium leading-[130%]">“Turizm va ekologiya” yo‘nalishida 1 to‘garak, 30 nafar to‘garak a’zolari</li>
          <li class="text-xl font-medium leading-[130%]">“Oliy ta’lim muassasalari va maktabga tayyorlov” yo‘nalishida 10 to‘garak, 390 nafar to‘garak a’zolari</li>
          <li class="text-xl font-medium leading-[130%]">“Xorijiy tillar” yo‘nalishida 4 to‘garak, 160 nafar to‘garak a’zolari.</li>
          <li class="text-xl font-medium leading-[130%]">Hozirgi kunda umumiy o‘rta ta’lim maktablaridagi tarmoq to‘garaklar soni  33 ta bo‘lib, to‘garak a’zolari 1110 nafarni tashkil etadi.</li>
        </ul>
      </div>
    </div>

    <div class="">
      <h3 class="text-[40px] font-bold font-['Lato']! leading-[120%] mb-5">{{ 'bam.similar-news' | transloco}}</h3>
      <div class="grid grid-cols-4 gap-4 mb-4">
        @for(data of newsData; track data.id;let i=$index){
          @if(4 > i){
            <app-news-block [data]="data"></app-news-block>
          }
        }
      </div>
    </div>
  </div>
}



