

<div class="max-w-[1640px] mx-auto py-[12px] px-[20px] 2xl:px-[0px] flex justify-between">
  <div class="flex gap-[20px]">
    <div class="flex items-center gap-[6px]">
      <span class="icon-phone text-[24px]"></span>
      <p class="text-[#fff] text-[18px]">+998 71 200 12 12</p>
    </div>
    <div class="w-[1px] my-[2px]  bg-[#ffffff50]">
    </div>
    <div class="flex items-center gap-[6px]">
      <span class="icon-email" style="font-size: 18px;"></span>
      <p class="text-[#fff] text-[18px]">info&#64;renessans.uz</p>
    </div>
  </div>
  <div class="flex gap-[20px]">
    <div class="grid grid-cols-3 gap-[12px] items-center">
      <span class="icon-view" style="font-size: 18px;"></span>
      <span class="icon-telephone" style="font-size: 18px;"></span>
      <span class="icon-volume" style="font-size: 18px;"></span>
    </div>
    <div class="w-[1px] my-[2px]  bg-[#ffffff50]">
    </div>
    <div class="grid grid-cols-4 gap-[12px] items-center">
      <i class="icon-instagram" style="font-size: 20px;"></i>
      <i class="icon-telegram" style="font-size: 18px;"></i>
      <i class="icon-youtube" style="font-size: 18px;"></i>
      <i class="icon-facebook" style="font-size: 18px;"></i>
    </div>
  </div>
</div>
