
<div class="">
  <h3 class="text-[40px] font-bold font-['Lato']! leading-[120%] mb-5">{{ 'bam.news.title' | transloco }}</h3>

  <div class="flex justify-between mb-[22px]">
    <div class="w-[400px] py-[11px] px-3 border-[1px] border-black-6 rounded-xl flex items-center gap-3 bg-white">
      <span class="icon-search text-[22px] text-blue-2"></span>
      <input type="text" class="w-full placeholder:text-black-3 text-xl font-medium outline-none border-none " placeholder="Izlash" (input)="onInput($event)">
    </div>
    <div class="">
      <p-calendar
      class="full-size"
        [(ngModel)]="range"
        selectionMode="range"
        dateFormat="dd.mm.yy"
        [inputStyle]="{ width: '400px', padding:'11px'}"
        [placeholder]="'дд.мм.гггг - дд.мм.гггг'"
        (onSelect)="onRangeSelected($event)"
      ></p-calendar>

    </div>
  </div>

  <div class="grid grid-cols-4 gap-4 mb-4">
    @for(data of currentData; track data.id;let i=$index){
      @if(length > i){
        <app-news-block [data]="data"></app-news-block>
      }
    }
  </div>

  @if(currentData.length >= length){
    <button class="bg-[#1C79C01A] rounded-xl py-3 px-4 flex items-center gap-1.5 mx-auto cursor-pointer" (click)="moreNews()">
      <p class="text-xl text-blue-2 font-semibold leading-[120%]">{{ 'bam.news.more-view' | transloco }}</p>
      <span class="icon-restart text-blue-2 text-2xl"></span>
    </button>
  }
</div>
