

<div class="bg-blue-1">
  <div class="bg-[url(/assets/imgs/footer-bg.png)] bg-bottom bg-no-repeat">
    <div class="max-w-[1640px] mx-auto">
      <div class="pt-[60px] grid grid-cols-3">
        <div class="grid gap-6">
          <div class="flex items-center gap-4">
            <span class="icon-renessans text-[80px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            <div class="">
              <h2 class="text-[32px] font-extrabold font-['Lato']! uppercase leading-[100%] text-white" >RENESSANS</h2>
              <p class="text-[13px] font-medium font-['Lato']! uppercase  text-white">Respublika o‘quvchilar markazi</p>
            </div>
          </div>

          <span class="icon-uzinfocom text-[60px] mb-6" ><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
        </div>
        <div class="flex flex-col gap-3">
          <p class="text-2xl font-bold font-['Lato']! text-blue-4 leading-[120%]">{{ 'footer.departments' | transloco }}</p>
          <div class="grid grid-cols-2 justify-between">
            <div class="flex flex-col gap-2">
              <a routerLink="/home" class="text-lg font-normal text-white leading-[130%]">{{ 'nav-bar.menu.main' | transloco }}</a>
              <a routerLink="/bam" class="text-lg font-normal text-white leading-[130%]">{{ 'nav-bar.menu.bam' | transloco }}</a>
              <a routerLink="/clubs" class="text-lg font-normal text-white leading-[130%]">{{ 'nav-bar.menu.clubs' | transloco }}</a>
            </div>
            <div class="flex flex-col gap-2">
              <a routerLink="/lessonSchedule" class="text-lg font-normal text-white leading-[130%]">{{ 'nav-bar.menu.schedule' | transloco }}</a>
              <a routerLink="/contacts" class="text-lg font-normal text-white leading-[130%]">{{ 'nav-bar.menu.contact' | transloco }}</a>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <p class="text-2xl font-bold font-['Lato']! text-blue-4 leading-[120%]">{{ 'footer.contact' | transloco }}</p>

          <div class="flex flex-wrap gap-4">
            <div class="p-[10px] bg-blue-2 rounded-xl flex items-center gap-1.5">
              <span class="icon-phone text-blue-4 text-2xl"></span>
              <p class="text-lg font-normal text-white leading-[130%]">+998 71 200 12 12</p>
            </div>
            <div class="p-[10px] bg-blue-2 rounded-xl flex items-center gap-1.5">
              <span class="icon-email text-blue-4"></span>
              <p class="text-lg font-normal text-white leading-[130%]">info&#64;renessans.uz</p>
            </div>
            <div class="p-[10px] bg-blue-2 rounded-xl flex items-center gap-1.5">
              <span class="icon-location text-blue-4 text-2xl"></span>
              <p class="text-lg font-normal text-white leading-[130%]">Beshyog’och ko‘chasi 12, Toshkent</p>
            </div>
            <div class=" grid grid-cols-4 gap-1">
              <div class="p-[10px] bg-blue-2 rounded-xl flex items-center justify-center">
                <span class="icon-instagram text-white text-xl"></span>
              </div>
              <div class="p-[10px] bg-blue-2 rounded-xl flex items-center justify-center">
                <span class="icon-telegram text-white text-xl"></span>
              </div>
              <div class="p-[10px] bg-blue-2 rounded-xl flex items-center justify-center">
                <span class="icon-youtube text-white text-xl"></span>
              </div>
              <div class="p-[10px] bg-blue-2 rounded-xl flex items-center justify-center">
                <span class="icon-facebook text-white text-xl"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="text-white opacity-10">

      <div class="py-[25px] flex justify-between">
        <p class="text-lg font-normal text-white leading-[130%]">{{ 'footer.copyright' | transloco }}</p>
        <div class="flex gap-6">
          <a href="" class="text-lg font-normal text-white leading-[130%]">{{ 'footer.cookie-policy' | transloco }}</a>
          <a href="" class="text-lg font-normal text-white leading-[130%]">{{ 'footer.security-policy' | transloco }}</a>
          <a href="" class="text-lg font-normal text-white leading-[130%]">{{ 'footer.terms-of-use' | transloco }}</a>
          <a href="" class="text-lg font-normal text-white leading-[130%]">{{ 'footer.user-guide' | transloco }}</a>
        </div>
      </div>
    </div>
  </div>


</div>
