
<div class="">
  <div class="flex items-center gap-[16px] mb-[20px]">
    <div class="w-[220px] p-[16px] border border-[#1C79C0] rounded-[12px] bg-[#fff] shadow-[0_0_0_2px_#1C79C033]">
      <p class="text-[#757D8E] text-[20px] font-[500] leading-[130%] mb-[6px]">Kunduzgi smena:</p>
      <p class="text-[#1C79C0] text-[24px] font-[700] font-['Lato'] leading-[120%]">09:00 - 12:00</p>
    </div>
    <div class="w-[220px] p-[16px] border border-[#EAECF2] rounded-[12px] bg-[#fff]">
      <p class="text-[#757D8E] text-[20px] font-[500] leading-[130%] mb-[6px]">Kunduzgi smena:</p>
      <p class="text-[#020A0C] text-[24px] font-[700] font-['Lato'] leading-[120%]">13:00 - 15:00</p>
    </div>
    <div class="w-[220px] p-[16px] border border-[#EAECF2] rounded-[12px] bg-[#fff]">
      <p class="text-[#757D8E] text-[20px] font-[500] leading-[130%] mb-[6px]">Kunduzgi smena:</p>
      <p class="text-[#020A0C] text-[24px] font-[700] font-['Lato'] leading-[120%]">15:00 - 18:00</p>
    </div>
    <div class="w-[220px] p-[16px] border border-[#EAECF2] rounded-[12px] bg-[#fff]">
      <p class="text-[#757D8E] text-[20px] font-[500] leading-[130%] mb-[6px]">Kunduzgi smena:</p>
      <p class="text-[#020A0C] text-[24px] font-[700] font-['Lato'] leading-[120%]">18:00 - 21:00</p>
    </div>
  </div>
  <div class="">
    <full-calendar [options]="calendarOptions"></full-calendar>

  </div>
</div>
