@if(isVertical){
  <div class="flex flex-col gap-4 p-4 bg-white border border-black-7 rounded-2xl">
    <div class="max-h-[280px] rounded-2xl overflow-hidden">
      <img [src]="club.imgLink" alt="" class="w-full h-full">
    </div>
    <div class="w-full">
      <div class="flex flex-col justify-between pb-4 gap-3">
        <p class="text-[28px] font-bold font-['Lato']! leading-[120%] truncate">{{ club.title }}</p>
        <div class="flex items-center gap-[7px] bg-black-8 py-1 px-2 rounded-lg border border-black-7">
          <span class="icon-map-point text-[22px] text-blue-2"></span>
          <p class="text-black-1 text-xl font-medium leading-[130%]">{{ club.city }}</p>
        </div>
      </div>

      <div class="flex flex-col gap-2 pb-3">
        <p class="text-blue-2 text-xl font-medium underline decoration-solid leading-[130%]">{{ club.location }}</p>
        <p class="text-blue-2 text-xl font-medium underline decoration-solid leading-[130%]">{{ 'clubs.view-on-map' | transloco}}</p>
      </div>

      <div class="flex flex-col gap-0.5 pb-3">
        <p class="text-black-3 text-xl font-semibold leading-[120%]">{{ 'clubs.shift.daytime' | transloco}}</p>
        <p class="text-black-1 text-xl font-semibold leading-[120%]">{{club.startTime | date:"HH:mm"}} - {{club.endTime | date:"HH:mm"}}</p>
      </div>

      <div class="flex flex-col gap-0.5 pb-[24px]">
        <p class="text-black-3 text-xl font-semibold leading-[120%]">{{ 'clubs.phone-number' | transloco}}</p>
        <p class="text-black-1 text-xl font-semibold leading-[120%]">{{ club.phoneNumber }}</p>
      </div>

      <div class="flex flex-col justify-between">
        <div class="py-[9px] px-3 rounded-xl border border-black-7 mb-3 text-center">
          <p class="text-blue-1 text-2xl font-bold font-['Lato']! leading-[120%]">{{ club.price }} so‘m</p>
        </div>
        <div class="flex flex-col gap-3">
          <a [routerLink]="'/clubs/' + club.id" class="flex items-center justify-center gap-3 px-4 py-3 bg-statistics-1 rounded-xl">
            <p class="text-blue-2 text-xl font-semibold leading-[120%]">{{ 'clubs.learn-more' | transloco}}</p>
            <span class="icon-arrow-right text-[11px] text-blue-2!"></span>
          </a>
          <button type="button" class="flex items-center justify-center gap-1.5 px-4 py-3 bg-statistics-2 rounded-xl">
            <span class="icon-search text-[22px] text-yellow-1"></span>
            <p class="text-yellow-1 text-xl font-semibold leading-[120%]">{{ 'clubs.register' | transloco}}</p>
          </button>
        </div>
      </div>
    </div>
  </div>
}
@else{
<div class="flex gap-4 p-4 bg-white border border-black-7 rounded-2xl">
    <div class="w-[220px] h-[220px] rounded-2xl overflow-hidden">
      <img [src]="club.imgLink" alt="" class="w-full h-full">
    </div>
    <div class="w-full">
      <div class="flex justify-between pb-4">
        <p class="text-[28px] font-bold font-['Lato']! leading-[120%]">{{ club.title }}</p>
        <div class="flex items-center gap-[7px] bg-black-8 py-1 px-2 rounded-lg border border-black-7">
          <span class="icon-map-point text-[22px] text-blue-2"></span>
          <p class="text-black-1 text-xl font-medium leading-[130%]">{{ club.city }}</p>
        </div>
      </div>

      <div class="flex items-center gap-3 pb-3">
        <p class="text-blue-2 text-xl font-medium underline decoration-solid leading-[130%]">{{ club.location }}</p>
        <span class="icon-circle text-black-5 text-[6px]"></span>
        <p class="text-blue-2 text-xl font-medium underline decoration-solid leading-[130%]">{{ 'clubs.view-on-map' | transloco}}</p>
      </div>

      <div class="flex items-center gap-3 pb-3">
        <p class="text-black-3 text-xl font-semibold leading-[120%]">{{ 'clubs.shift.daytime' | transloco}}</p>
        <span class="icon-circle text-black-5 text-[6px]"></span>
        <p class="text-black-1 text-xl font-semibold leading-[120%]">{{club.startTime | date:"HH:mm"}} - {{club.endTime | date:"HH:mm"}}</p>
      </div>

      <div class="flex items-center gap-3 pb-[24px]">
        <p class="text-black-3 text-xl font-semibold leading-[120%]">{{ 'clubs.phone-number' | transloco}}</p>
        <span class="icon-circle text-black-5 text-[6px]"></span>
        <p class="text-black-1 text-xl font-semibold leading-[120%]">{{ club.phoneNumber }}</p>
      </div>

      <div class="flex items-center justify-between">
        <div class="py-[9px] px-3 rounded-xl border border-black-7">
          <p class="text-blue-1 text-2xl font-bold font-['Lato']! leading-[120%]">{{ club.price }} so‘m</p>
        </div>
        <div class="flex items-center gap-3">
          <a [routerLink]="'/clubs/registration/' + club.id" class="flex items-center gap-1.5 px-4 py-3 bg-statistics-2 rounded-xl">
            <span class="icon-search text-[22px] text-yellow-1"></span>
            <p class="text-yellow-1 text-xl font-semibold leading-[120%]">{{ 'clubs.register' | transloco}}</p>
          </a>
          <a [routerLink]="'/clubs/' + club.id" class="flex items-center gap-3 px-4 py-3 bg-statistics-1 rounded-xl">
            <p class="text-blue-2 text-xl font-semibold leading-[120%]">{{ 'clubs.learn-more' | transloco}}</p>
            <span class="icon-arrow-right text-[11px] text-blue-2!"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
}
