

<app-full-breadcrumb></app-full-breadcrumb>

<div class="bg-black-8">
  <div class="max-w-[1640px] mx-auto">
    <div class="py-[80px]">
      <app-news-list [newsData]="newsData"></app-news-list>
    </div>

    <div class="pb-[80px]">
      <app-gallery [data]="studentWorksData" [title]="'bam.creative-work' | transloco"></app-gallery>
    </div>
    <div class="pb-[120px]">
      <app-gallery [data]="galleryData" [title]="'bam.photo-gallery' | transloco"></app-gallery>
    </div>
  </div>
</div>

