

<div class=" fixed top-0 bottom-0 right-0 left-0 z-10 duration-500" (click)="toInversion()" [ngClass]="{'bg-[#00000000] hidden': !(isShow | async), 'bg-[#00000080]': (isShow | async)}">
</div>

<div class="bg-[#1C79C0] fixed top-0 bottom-0 w-[500px] z-10 p-[20px] shadow-[0_0_20px_#fff] duration-500" [ngClass]="{'right-[-100%]': !(isShow | async), 'right-0':(isShow | async)}">
  <div class="">

  </div>
  <div class="flex flex-col gap-[100px]">
    <div class="flex items-center justify-center gap-[16px]">
      <span class="icon-renessans text-[80px]"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
      <div class="">
        <h2 class="text-[#fff] text-[32px] font-[800] font-['Lato']! uppercase leading-[100%]" >RENESSANS</h2>
        <p class="text-[#fff] text-[13px] font-[500] font-['Lato']! uppercase">Respublika o‘quvchilar markazi</p>
      </div>
    </div>

    <div class="">
      <ul class="flex flex-col items-center gap-[24px]">
        <li class="text-[#fff] text-[25px] font-[500] "><a href="">Asosiy sahifa</a></li>
        <li class="text-[#fff] text-[25px] font-[500] "><a href="">BAM</a></li>
        <li class="text-[#fff] text-[25px] font-[500] "><a href="">To‘garaklar</a></li>
        <li class="text-[#fff] text-[25px] font-[500] "><a href="">Dars jadvali</a></li>
        <li class="text-[#fff] text-[25px] font-[500] "><a href="">Kontaktlar</a></li>
      </ul>
    </div>
  </div>
</div>
