

<a [routerLink]="'/bam/news/'+data.id" class="rounded-2xl">
  <div class="rounded-2xl overflow-hidden border border-black-7 hover:shadow-[0_0_10px_#1C79C040]">
    <img [src]="data.imgUrl" alt="" class="w-full">
    <div class="p-5 bg-white">
      <div class="flex gap-5 mb-3">
        <div class="flex items-center gap-1.5">
          <span class="icon-calendar before:text-blue-2! text-[22px]"></span>
          <p class="text-blue-2 text-xl font-semibold">{{data.date | date:"dd.MM.yyyy"}}</p>
        </div>
        <div class="flex items-center gap-1.5">
          <span class="icon-view before:text-blue-2!"></span>
          <p class="text-blue-2 text-xl font-semibold">{{data.views}}</p>
        </div>
      </div>
      <div>
        <p class="text-2xl text-black-1 font-bold font-['Lato']! text-ellipsis">{{data.text}}</p>
      </div>
    </div>
</div>
</a>

